:root {
    --primary-color: #0b3c5d;
    --secondary-color: #1f6f9b;
    --accent-color: #d9b310;
    --light-color: #f4f4f4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--light-color);
}

header img {
    width: 150px;
    margin-left: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: var(--accent-color);
}

nav li:not(:last-child) a {
    border-right: none;
}

/*** ABOUT PAGE ***/

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    display: flex;
    align-items: center;
    float: right
}

.hero article img {
    width: 100px;
    order: 2;
    margin-left: 15px;
    margin-right: 0;
}

section {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    color: var(--primary-color);
    text-align: center;
}

section img {
    width: 150px;
    margin: 5px;
}

.adventure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.adventure figure {
    text-align: center;
}

.adventure img {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.history-content img {
    width: 100%;
    margin-left: 0px;
    margin-right: 15px;
}

.history-content p {
    text-align: justify;
}

/*** CONTACT PAGE ***/

/* INFO */
.contact-info {
    text-align: center;
    margin: 20px 0;
}

/* GRID */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* FORM */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
}

.form-group textarea {
    height: 100px;
}

.form-group.full {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.map iframe {
    border: 0;
    width: 100%;
    height: 300px;
}

/* RADIO */
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    /* evita que el texto se parta */
}

/* ajuste fino del radio */
.radio-group input[type="radio"] {
    margin: 0;
}

/* CHECKBOX */
.checkbox {
    align-items: start;
}

.checkbox label {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

/* BUTTON */
.form-group.full button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

/* EMPLOYEES */
.employees {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.employee-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.employee-grid img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.employees h2 {
    text-align: center;
    width: 100%;
}

/* FOOTER */
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--light-color);
}

footer p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.socialmedia {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 25px;
}